.get-started {
	/*background-color: #DCDCDC;*/
}

#header {
	display: flex;
	box-shadow: 3px 3px 5px #ccc;
	justify-content: space-between;
	color: #006C9E;
	background-color: #FFFFFF;
}

#header h2, img {
	margin: 5px 80px;
	font-family: ProximaNova;
	align-self: center;
}

img {
	height: 54px;
	width: 54px;
}

.main-contianer{
	margin: 10px 80px;
}

.main-container, h2 {
	color: #006C9E;
}

.second-container {
	box-shadow: 1px 1px 5px 2px #ccc;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.second-container, h3 {
	color: #006C9E;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.098889px;
}

.third-container {
	margin: auto 8vw;
}

.third-container, h4 {
	color: #006C9E;
}

#welcome {
	text-align: center;
	margin-top: 20px;
}

.step-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 8fr));
	grid-gap: 1em;
	justify-items: center;
}

.step-container, h5 {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.098889px;
	color: black;
}


.steps {
	width: 15em;
	text-align: center;
	background-color: #F3F8FA;
}

.steps p {
	margin-left: 5px;
	margin-right: 5px;
}

#button {
	text-align: center;
	margin-top: 6%;
	padding-bottom: 20px;
}

.button {
	background-color: #006C9E;
	border-radius: 34px;
	color: white;
	padding: 15px 32px;
	font-size: 14px;
	cursor: pointer;
	font-family: ProximaNova;
}

#setup {
	font-family: ProximaNova;
	color: #006C9E;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: -0.13px;
}

#welcome {
	font-family: ProximaNova;
	font-size: 32px;
	line-height: 37px;
	letter-spacing: 0.977778px;
	color: #006C9E;
}

p {
	font-family: ProximaNovaA;
	color: #333333;
}

.icons {
	margin-top: 20px;
}
